In [12]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re
%matplotlib inline
import datetime
import random
import json
from IPython.display import display

In [2]:
columns = ["ALB","BUN","CRE","CRP","Ca","Cl","IP","K","Na","T-CHO","PCR", "TP"]
columns_value = [5,30,20,10,30,60,80,5,17,20,700,6]

In [24]:
np.random.randint(100)

17

In [20]:

def gen_dummy_df(columns, columns_value,  date_len):
    columns_len = len(columns)
    day_rand_i = np.random.randint(300)
    date_index = [datetime.date.today() + datetime.timedelta(weeks=52, days=day_rand_i)  for i in range(date_len)]
    base_df = pd.DataFrame(np.random.randn(date_len,columns_len), index=date_index)
    base_df = base_df.apply(lambda x : (1.2 + x / 3) * columns_value[x.name], axis=0)
    base_df = base_df.applymap(lambda x: np.nan if np.random.randint(0,10) == 0 else x)
    base_df.columns = columns
    return  base_df
    
def gen_dummy_patient_datasets(patient_num, columns=columns):
    columns = ["ALB","BUN","CRE","CRP","Ca","Cl","IP","K","Na","T-CHO","PCR", "TP"]
    columns_value = [5,30,20,10,30,60,80,5,17,20,700,6]
    head_dir = "./PatientsDataset"
    if not os.path.exists(head_dir):
        os.mkdir(head_dir)
    patient_dir_base = "patient{}"
    normal_file = "normal.csv"
    info_file = "info.json"
    exp_html_file = "exp.html"
    exp_json_file = "exp.json"
    once = True
    for i in range(patient_num):
        patient_id = i + 10000
        patient_dir = os.path.join(head_dir ,patient_dir_base.format(patient_id))
        normal_path = os.path.join(patient_dir, normal_file)
        info_path = os.path.join(patient_dir, info_file)
        exp_html_path = os.path.join(patient_dir, exp_html_file)
        exp_json_path = os.path.join(patient_dir, exp_json_file)
        if not os.path.exists(patient_dir):
            os.mkdir(patient_dir)
        date_len = np.random.randint(8,15)
        # save normal.csv
        dummy_patient_df = gen_dummy_df(columns, columns_value, date_len)
        if once:
            display(dummy_patient_df)
            once = False
        dummy_patient_df.to_csv(normal_path)
        # save info.json
        nonnephs_proba = np.random.rand()
        nephs_proba = 1- nonnephs_proba
        is_nephrosis = np.random.randint(0,2)
        info = {
            "patient_id" : patient_id,
            "is_nephrosis" : is_nephrosis,
            "nephs_proba" : nephs_proba,
            "nonnephs_proba" : nonnephs_proba,
            "predict_is_nephrosis" : nephs_proba > nonnephs_proba,
        }
        with open(info_path, "w") as f:
            json.dump(info, f, indent=4)
        # save exps
        exp_html = "<h1> patient{} exp.html </h1>".format(patient_id)
        with open(exp_html_path, "w") as f:
            f.write(exp_html)
        exp_json = {item : np.random.rand() for item in random.sample(columns, 5)}
        with open(exp_json_path, "w") as f:
            json.dump(exp_json, f, indent=4)

In [21]:
gen_dummy_patient_datasets(10)

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,3.702169,26.232967,19.139005,NaN,51.852888,63.581449,56.733533,4.697481,NaN,20.358343,691.763937,7.044941
2019-11-16,5.178446,28.677917,20.828851,14.442391,35.202050,71.548707,106.640459,4.078337,15.994045,22.300285,780.160218,9.309329
2019-11-17,6.690801,21.748843,12.158055,8.186233,NaN,66.004002,NaN,3.798863,NaN,NaN,577.365383,10.688803
2019-11-18,6.047850,31.105541,25.478192,11.641844,40.702238,72.780490,76.927879,7.615113,16.057204,34.931338,1177.649235,6.620145
2019-11-19,8.632963,38.785010,10.946785,7.204832,24.139268,117.498807,134.055050,6.462783,22.615206,NaN,491.682230,5.915747
2019-11-20,7.768650,52.648599,28.501271,13.013400,33.848149,39.411506,77.721739,NaN,12.401946,27.827991,582.220266,4.984532
2019-11-21,3.706307,35.857160,28.659676,12.969430,45.820321,90.428479,142.394944,8.615536,27.855997,23.376763,697.408608,5.091384
2019-11-22,NaN,38.285690,NaN,10.998566,40.044225,94.383347,103.486152,5.131375,21.563151,21.671225,686.087350,5.964229
2019-11-23,5.126990,26.184060,26.383749,NaN,38.106346,95.893045,110.061068,5.116274,20.899226,23.137825,NaN,5.709736
2019-11-24,5.325206,40.066205,20.794675,8.549190,58.724333,49.813222,148.053741,NaN,NaN,24.223089,237.827211,7.543314
2019-11-25,4.750828,NaN,13.281456,13.411964,37.779546,71.826240,133.803162,4.500426,16.153820,21.336194,968.141642,NaN
2019-11-26,4.866809,42.966849,28.951881,5.850355,31.432764,56.555281,140.211282,5.319803,NaN,28.418238,NaN,11.577024
2019-11-27,4.923629,51.941600,21.156014,NaN,39.923599,51.177630,118.947043,3.413441,14.577719,NaN,497.602928,8.974343
2019-11-28,6.183545,47.352025,13.878180,9.609202,28.398530,59.558115,56.753130,3.471698,15.434879,28.722243,1076.366861,8.689500

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,4.888234,27.907086,NaN,14.986540,44.758848,49.850825,102.748191,7.290755,18.631618,22.142035,1133.201983,6.842380
2019-11-16,3.956270,34.906244,30.053231,13.913095,43.150750,62.938713,99.477573,2.903873,25.950470,26.051528,1006.116660,6.066020
2019-11-17,8.027866,25.684425,19.996018,8.628869,21.769337,25.504921,86.500301,3.128616,19.455133,23.129552,816.024158,7.580970
2019-11-18,5.886324,24.298537,21.263930,17.319585,39.502835,NaN,76.467633,6.210958,15.903952,27.441343,899.515344,NaN
2019-11-19,7.872678,19.662714,27.190479,12.050197,23.369652,78.968282,123.133046,5.842759,14.637037,26.602247,923.165073,5.901676
2019-11-20,NaN,NaN,NaN,6.789094,34.185440,82.581207,107.245070,NaN,24.381640,40.117074,NaN,9.591361
2019-11-21,5.945425,55.719808,19.732647,5.850167,30.352419,82.520792,113.430251,3.715003,18.989022,20.574422,570.213938,8.504468
2019-11-22,NaN,47.531657,30.971529,8.180341,40.844332,61.386420,79.880103,7.101377,27.316332,37.270685,819.904556,8.394701
2019-11-23,NaN,36.229376,22.845407,11.552150,18.989592,NaN,64.346023,5.934778,25.537380,23.405488,728.805629,6.141121
2019-11-24,5.927825,45.358924,36.094749,10.682648,47.678856,91.218932,NaN,7.887015,21.967579,30.084442,982.280328,5.174405
2019-11-25,NaN,26.172111,21.590667,10.895524,32.434035,97.137599,84.647823,8.280779,12.266488,18.305065,813.798124,6.759624
2019-11-26,6.478216,35.685272,14.444216,NaN,32.327554,72.629322,72.364211,4.465172,10.076002,NaN,682.172791,4.753902
2019-11-27,7.011945,34.918864,45.553508,3.976395,25.291778,66.395539,120.145213,NaN,11.913992,16.330329,856.648551,7.758476
2019-11-28,5.440523,33.361108,21.043936,19.321552,42.827717,69.281455,115.179658,5.126370,21.181605,31.798151,781.674268,7.909610

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,3.313288,29.148084,24.276466,13.368068,52.807462,97.701680,137.306591,3.607284,23.110267,NaN,1020.406345,4.677842
2019-11-16,8.979953,56.379322,21.542482,12.631022,39.644719,81.990263,74.294124,7.477559,31.684682,27.808821,864.710423,9.738044
2019-11-17,5.014897,39.040179,20.348349,10.037523,23.323890,86.022148,69.765433,7.498984,10.980150,25.635149,NaN,6.470868
2019-11-18,7.407414,NaN,35.177141,5.886309,26.161497,75.972565,NaN,5.886544,23.380349,24.704241,834.852956,9.795008
2019-11-19,6.599796,49.242949,31.092538,12.977794,38.009874,74.002200,39.674764,10.016844,13.949364,32.203897,389.697243,8.579894
2019-11-20,6.074628,27.602975,23.848792,17.519169,33.856131,77.093143,78.917576,6.355231,24.746481,22.996582,1189.999588,7.850823
2019-11-21,1.261715,NaN,NaN,5.177790,32.077433,74.485238,136.984943,7.119253,NaN,16.923157,732.574307,7.338440
2019-11-22,3.901072,43.684865,16.109477,NaN,42.595474,85.427758,NaN,5.854038,24.321179,23.657427,598.645240,6.110064

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,4.476301,54.205939,20.700849,12.512616,43.460300,87.328207,117.988610,3.401127,15.373466,23.337330,906.078448,5.405533
2019-11-16,5.774915,26.164401,17.632353,11.803862,40.140812,71.387818,95.499825,2.227301,22.763878,22.214594,1421.584754,6.496112
2019-11-17,6.891217,39.954771,25.958175,16.029394,30.661444,64.164115,71.842625,8.187026,16.083918,18.021595,1098.397415,4.685235
2019-11-18,5.838986,37.612806,23.952175,NaN,17.687921,89.097467,105.852244,4.015421,18.593363,34.962171,NaN,12.296563
2019-11-19,7.128189,NaN,9.667270,NaN,52.818746,97.852287,135.587801,4.477261,21.902321,23.328770,697.706818,5.770762
2019-11-20,4.167274,27.408680,33.770196,14.901323,27.723512,66.524593,NaN,NaN,16.317971,22.669251,336.883496,6.701681
2019-11-21,8.085027,37.095185,19.747998,17.434606,27.158527,39.566373,78.973551,7.786590,15.244449,15.424926,1337.723113,8.651824
2019-11-22,4.356976,29.465308,24.717338,13.408392,42.093296,103.707063,144.082922,6.955678,25.713614,23.377431,1363.418337,7.277934
2019-11-23,7.431659,30.477085,24.872116,10.565625,42.134806,47.093589,137.666432,7.306955,NaN,22.124825,990.609693,9.150858
2019-11-24,2.847043,28.312262,11.760956,NaN,33.889526,41.491850,116.709627,2.339532,NaN,16.458974,NaN,5.039430

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,5.905590,29.774964,21.628245,10.341713,47.547517,40.461021,NaN,5.497012,15.834818,25.369569,982.793293,8.099743
2019-11-16,5.345424,27.966587,17.737602,13.348138,33.857059,52.333141,57.819053,7.219147,26.586528,19.436664,848.155625,7.373514
2019-11-17,6.198537,35.282018,NaN,12.117767,39.549113,74.837505,67.789893,2.647606,27.290935,22.603620,917.772687,5.939735
2019-11-18,2.336718,40.037593,23.619886,7.259720,NaN,125.051850,117.693352,5.508539,16.770203,29.162350,850.065556,7.128203
2019-11-19,6.213229,13.487246,24.086868,16.043238,NaN,44.215866,103.795613,4.518418,25.616563,17.272676,865.534394,2.556770
2019-11-20,3.468226,17.839602,26.133274,10.826605,33.049176,64.320105,82.121066,NaN,12.212920,17.032364,931.480982,5.711341
2019-11-21,4.005275,NaN,16.491015,9.622590,38.412529,82.950032,123.166993,5.453997,19.367293,21.313145,747.660603,9.828820
2019-11-22,5.112375,NaN,27.725806,NaN,21.288454,78.105794,81.360179,8.146121,23.020243,NaN,1001.124073,6.937916
2019-11-23,7.192659,39.177126,18.541463,13.205850,45.464218,71.114523,58.755789,6.075548,22.401348,24.152895,1256.524191,9.767005
2019-11-24,NaN,40.401862,17.027644,8.812661,34.631051,83.827674,106.269877,6.389227,12.074719,28.561008,729.873375,4.466359

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,NaN,NaN,11.513067,15.300714,NaN,91.442465,130.208821,5.375095,25.287664,24.802419,1233.397932,9.075544
2019-11-16,6.127789,38.146250,12.861451,11.517622,27.115611,62.055734,101.248124,5.975324,20.537301,23.465374,845.779561,6.466200
2019-11-17,NaN,42.554656,25.078737,11.670039,34.190702,69.375952,102.037451,7.247845,15.579460,26.293974,757.937645,NaN
2019-11-18,7.324920,33.553722,23.057698,10.391468,33.295531,99.234548,70.421535,5.012162,27.819459,16.971920,1132.197842,7.933434
2019-11-19,5.136523,18.247019,NaN,10.571522,36.366038,81.512288,83.791297,5.243263,16.418686,31.999218,766.739113,7.899546
2019-11-20,5.511866,22.407996,15.388375,10.717255,NaN,57.941128,119.085913,5.016931,32.813022,32.927436,1008.903105,7.779396
2019-11-21,5.410247,28.015233,20.763985,13.396560,21.856533,63.491152,106.063801,7.032340,NaN,30.818582,734.768669,NaN
2019-11-22,NaN,31.924536,26.900498,14.106441,26.847774,91.841014,145.394087,6.871497,13.065187,23.259937,734.359322,10.795472
2019-11-23,7.790814,18.931393,27.095912,12.356059,38.205637,NaN,134.777719,4.602399,17.008454,21.570337,886.135072,7.423422
2019-11-24,5.303998,37.341430,17.886715,12.786362,45.277705,117.563596,172.603334,1.892791,22.876131,27.725333,870.608940,4.307481
2019-11-25,NaN,25.999405,24.977504,NaN,22.908594,137.057208,73.415643,NaN,17.698695,21.899921,968.991119,9.548456
2019-11-26,4.718291,NaN,40.002909,11.910288,26.191148,51.566196,84.424133,7.032801,34.713169,23.909610,964.505815,6.451901
2019-11-27,7.997810,30.715538,24.068849,14.087599,30.781901,58.257290,90.181496,5.307209,28.828198,19.609801,1065.384376,7.795065

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,4.979294,46.075809,15.624811,16.198141,16.037610,NaN,82.573468,8.308227,21.606820,20.137102,646.155181,2.346340
2019-11-16,8.115768,41.062166,NaN,15.756733,48.445443,75.239746,115.895082,NaN,17.237602,15.344441,898.381838,9.759400
2019-11-17,9.492558,24.049296,8.475893,15.001198,16.119909,58.625784,97.593068,NaN,21.271544,1.437219,745.811980,4.393983
2019-11-18,7.114693,46.405232,36.769660,NaN,23.751066,NaN,103.533280,6.757025,22.125460,36.490949,997.971770,8.184552
2019-11-19,8.040585,41.205577,28.359932,11.016989,69.455642,91.533442,96.761683,7.367084,21.967808,13.132834,746.657977,4.644221
2019-11-20,5.820229,42.523375,24.433497,7.809255,NaN,NaN,85.023303,4.927347,20.494098,30.340275,792.016666,6.570928
2019-11-21,3.104629,39.581114,24.042535,11.853599,36.125820,51.025000,138.499206,5.119317,17.945383,10.112804,574.205588,NaN
2019-11-22,3.298524,NaN,23.408382,15.880177,48.601624,112.529283,101.507296,7.042291,22.518771,26.485478,312.809577,9.108806
2019-11-23,4.010411,19.402983,NaN,15.016566,21.798733,64.742338,57.277561,4.298568,12.914953,16.636246,1191.501481,6.690542
2019-11-24,5.265557,29.060220,21.806483,NaN,36.718303,58.592402,88.485088,9.962255,14.864598,31.368568,560.207576,3.154511

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,3.483067,39.343424,29.027787,10.910254,NaN,73.808062,87.829625,6.651706,29.071480,30.118812,424.481230,9.976183
2019-11-16,5.117408,51.610503,34.387997,8.863310,42.828132,84.243142,NaN,6.391056,21.624690,14.345126,1066.338358,NaN
2019-11-17,7.665217,31.401455,23.326651,12.865977,31.201990,99.053342,121.783810,4.825835,10.045663,25.607862,NaN,11.087686
2019-11-18,9.645804,29.995684,19.258287,19.402357,54.441524,38.021656,93.783100,8.983250,19.511664,22.241101,NaN,7.862696
2019-11-19,NaN,39.019425,23.286481,12.266017,33.181281,79.684910,60.971042,NaN,17.202504,29.037183,650.925972,8.329018
2019-11-20,6.712246,30.767464,34.282905,NaN,37.799714,91.703005,53.400190,7.732584,17.875283,13.562733,1209.658010,8.305580
2019-11-21,8.324134,45.609807,26.234311,13.247729,37.794829,NaN,133.468764,8.178563,13.908056,23.404268,531.727232,NaN
2019-11-22,NaN,NaN,26.437480,14.149872,35.213355,74.218911,28.919108,5.865295,16.851492,13.958249,1194.474183,NaN
2019-11-23,8.609784,52.839532,16.893380,15.491053,30.438256,52.259700,90.668778,7.500165,NaN,6.267745,782.998875,5.465577
2019-11-24,4.656476,38.361966,17.624270,NaN,42.322165,80.424675,88.436345,8.914305,26.811676,22.760589,834.482587,NaN

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,5.813512,32.092157,26.826640,NaN,22.766220,103.661603,75.708593,4.258192,24.247087,NaN,1028.838282,7.756804
2019-11-16,3.722126,NaN,15.567228,8.444705,46.229501,97.318535,122.129245,3.905534,14.026423,29.600150,667.749230,4.750752
2019-11-17,6.854341,56.626439,29.878152,12.927190,28.170347,69.131810,101.903943,NaN,20.408340,26.972594,647.173217,11.572021
2019-11-18,7.505920,24.393206,30.973343,13.408281,39.547696,84.935439,106.225008,6.294963,18.459565,18.619421,670.150151,7.654261
2019-11-19,7.827584,33.571499,23.067406,10.699734,26.713685,42.529520,105.109346,4.127274,17.326785,24.014221,435.998746,7.360112
2019-11-20,4.970027,45.364297,32.721475,12.360412,23.003688,45.380709,91.476993,7.055629,25.838441,28.243270,897.716502,NaN
2019-11-21,6.001338,31.324648,18.947242,NaN,35.474522,82.313354,96.278400,5.639364,23.694310,NaN,365.296380,5.782378
2019-11-22,3.863651,17.356500,22.884384,11.873599,59.770362,43.983087,NaN,7.529852,23.074740,33.303533,NaN,7.997558
2019-11-23,6.688702,33.204246,26.872329,13.403439,24.043798,43.862163,90.653011,4.175946,27.232074,14.000426,375.014065,5.229146
2019-11-24,7.453957,40.454053,NaN,10.902558,34.556663,107.928088,87.734597,7.153432,24.209863,28.597702,1087.207883,4.418067
2019-11-25,7.697822,21.952380,18.594909,10.591423,25.869893,77.691697,111.182060,6.163130,NaN,33.145210,811.271445,3.902720
2019-11-26,8.481508,27.540389,24.488549,5.397728,NaN,37.947498,80.833168,6.945199,15.461684,19.394638,560.098396,NaN
2019-11-27,9.096944,28.332703,32.873882,11.213308,32.725214,88.490512,108.247314,6.881418,23.291904,36.692232,795.524570,7.988987
2019-11-28,7.825098,20.747893,23.807238,10.743187,18.324947,96.095952,126.509061,3.946441,29.680247,42.345105,915.405103,NaN

,ALB,BUN,CRE,CRP,Ca,Cl,IP,K,Na,T-CHO,PCR,TP
2019-11-15,4.742286,38.903182,NaN,5.062557,57.285153,NaN,99.032541,5.740255,17.235530,18.712616,916.227300,7.253571
2019-11-16,5.359154,37.401311,26.662975,6.252015,55.060617,114.345878,89.188308,NaN,30.824202,24.401831,1082.322098,7.515270
2019-11-17,6.809515,26.411465,30.586139,13.325041,24.909375,76.870820,72.392990,6.995545,22.338586,16.591922,610.523456,9.038379
2019-11-18,7.764529,47.475904,26.808754,12.874153,20.997122,65.154248,84.694417,NaN,14.794619,25.398015,915.182657,6.427140
2019-11-19,4.784373,33.279659,30.315238,7.694521,33.643985,58.824843,114.773111,6.368061,16.426523,23.367465,550.842884,NaN
2019-11-20,7.256774,38.565757,26.398595,14.854047,36.559655,106.116475,99.953381,8.950188,25.694925,24.498743,501.124385,6.229290
2019-11-21,10.271847,49.280284,23.540040,13.401622,4.119472,80.029937,130.902082,4.458579,12.965828,20.257548,542.865990,7.088300
2019-11-22,7.680022,41.736414,17.355824,7.105824,31.497228,76.450858,103.072931,6.162851,NaN,9.601801,885.144196,4.293774
2019-11-23,3.749100,43.509706,25.801485,10.261151,41.888452,73.796573,76.874579,5.279394,16.418759,23.157731,902.978183,7.117026
2019-11-24,5.892375,40.370641,18.020724,NaN,54.563330,85.038355,111.377441,NaN,17.427926,33.732362,901.975715,NaN
2019-11-25,NaN,29.940132,13.353336,13.636317,19.642507,51.977085,95.800065,NaN,23.055329,34.176940,636.721746,7.501113
2019-11-26,10.023992,51.343639,28.886947,11.248089,33.969973,50.566732,80.556989,8.320826,22.379560,15.033703,NaN,6.405828
2019-11-27,NaN,41.253008,26.928096,14.716833,28.918157,56.437816,33.679576,3.921607,27.903273,36.768636,729.138648,8.439604

In [160]:
head_dir = "./PatientsDataset"
info_file = "info.json"

1

In [18]:
base_df = pd.DataFrame(np.random.randn(8,12))

In [19]:
base_df.applymap(lambda x : 0 if x < 0 else x)

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.704135,1.765880,0.217670,0.000000,0.000000,0.000000,0.000000,0.183639,1.471663,0.000000,0.000000,0.235496
1,0.000000,0.457155,0.431888,1.037700,1.594863,0.000000,0.000000,0.177284,0.300238,2.028595,0.604487,0.000000
2,0.188813,0.000000,1.161072,0.000000,0.566924,1.114493,0.000000,0.176923,0.000000,2.324996,0.000000,0.000000
3,0.159471,0.337206,0.607747,0.000000,0.411056,0.000000,0.355755,0.716188,0.172430,1.331181,0.564152,0.000000
4,0.825712,0.000000,0.000000,1.158217,0.000000,0.360156,0.011517,0.281693,1.184459,0.000000,0.575622,1.957244
5,0.145029,0.246832,1.094622,0.000000,0.000000,1.689844,0.000000,0.000000,1.103444,0.282727,0.637995,0.000000
6,1.850299,0.799741,0.217511,2.200301,0.202230,0.613502,0.046760,0.000000,0.580843,0.543473,0.125477,0.417109
7,0.000000,0.000000,0.000000,0.142789,0.000000,1.324580,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [10]:
base_df = pd.DataFrame(np.random.randn(date_len,columns_len), index=date_index)
base_df = base_df.apply(lambda x : (1.2 + x / 3) * columns_value[x.name] if not  np.random.randint(0,10) == 0 else np.nan , axis=0)
# base_df.columns = columns

NameError: name 'columns_len' is not defined

In [186]:
s = base_df["ALB"]

In [188]:
for k,v in s.items():
    print(k,v)

2019-11-14 4.80384279758897
2019-11-15 6.656200069035081
2019-11-16 5.9136744421675225
2019-11-17 6.299186531786901
2019-11-18 8.692357802786335
2019-11-19 8.573379494738898
2019-11-20 7.245569703833369
2019-11-21 6.256990412314506

In [185]:
for w in base_df:
    for x in base_df[w]:
        print(x)

4.80384279758897
6.656200069035081
5.9136744421675225
6.299186531786901
8.692357802786335
8.573379494738898
7.245569703833369
6.256990412314506
31.919847977371724
25.980138456078517
32.43173048701244
45.623376479695715
38.925410020051004
49.79347109842402
42.83216541750184
37.949875100028905
25.58849005457492
18.36074242692519
21.92120177076383
31.198712608954846
32.412776994105116
32.49177571821134
26.31455715065355
30.79610753644641
12.871694968327374
12.073617487114054
11.073576422572806
8.868799734512717
11.101054019035324
19.29521599225449
15.60036470048792
11.261551124480349
35.98833575700037
35.077896652679904
31.877085715207706
29.967709904008988
58.86060784769509
31.797623229121285
47.78388966325604
46.12915807540681
74.39023700901943
65.27780658953702
79.28940554542028
74.40330894960961
79.334039724068
39.27319166072638
57.79198847404963
47.38198659147939
22.026529570724193
43.95915606382496
153.3579674544594
90.4209923657043
115.53833851658445
60.07539789583616
109.0021704782592
74.60261897756493
6.5117047791946625
5.17247792957982
9.398037146428651
5.329459721326206
4.630963780390118
4.016278549443468
7.644394421992243
6.111788315849436
26.59734068011157
19.071188878618937
11.141624988130346
22.839845945813092
19.35798415767022
23.82306269274898
17.973125536879035
17.762358731684337
14.386669137357675
17.282228178356434
18.06557765555141
16.237777068033896
22.107784884536393
23.066816866233616
22.41330922546103
34.674195620627565
994.9670977782683
610.3048154436796
963.3037707731067
1032.8983191492862
508.0010313331086
986.6510297229529
926.0891390090401
723.3298379437863
8.073687554262362
7.895959356421957
8.254698958268285
4.232954426683798
5.1103050244459105
10.548274621706188
5.724739991138817
9.236579973311713

In [ ]:
アルファベット
/
\*
[^*]
[^/]
・

演算子
*
+
()

In [2]:
import pandas as pd
from sklearn import datasets

In [4]:
iris = datasets.load_iris()
iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

In [5]:
iris_df.to_html("iris.html")

In [32]:
basehtml = """
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Sample</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jupyter.org/notebook/5.1.0/style/style.min.css">
    <!-- jQuery読み込み -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    {table}
  </body>
</html>
"""

In [36]:
# html = basehtml.format(table=iris_df.to_html(classes=["table", "table-bordered", "table-hover"]))
iris_style = iris_df.T.style.background_gradient(cmap="Blues")
html = iris_style.render()

In [37]:
with open("blueiris.html", "w") as f:
    anshtml = basehtml.format(table=html)
    f.write(anshtml)

In [17]:
iris_df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
5                  5.4               3.9                1.7               0.4
6                  4.6               3.4                1.4               0.3
7                  5.0               3.4                1.5               0.2
8                  4.4               2.9                1.4               0.2
9                  4.9               3.1                1.5               0.1
10                 5.4               3.7                1.5               0.2
11                 4.8               3.4                1.6               0.2
12                 4.8               3.0                1.4               0.1
13                 4.3               3.0                1.1               0.1
14                 5.8               4.0                1.2               0.2
15                 5.7               4.4                1.5               0.4
16                 5.4               3.9                1.3               0.4
17                 5.1               3.5                1.4               0.3
18                 5.7               3.8                1.7               0.3
19                 5.1               3.8                1.5               0.3
20                 5.4               3.4                1.7               0.2
21                 5.1               3.7                1.5               0.4
22                 4.6               3.6                1.0               0.2
23                 5.1               3.3                1.7               0.5
24                 4.8               3.4                1.9               0.2
25                 5.0               3.0                1.6               0.2
26                 5.0               3.4                1.6               0.4
27                 5.2               3.5                1.5               0.2
28                 5.2               3.4                1.4               0.2
29                 4.7               3.2                1.6               0.2
..                 ...               ...                ...               ...
120                6.9               3.2                5.7               2.3
121                5.6               2.8                4.9               2.0
122                7.7               2.8                6.7               2.0
123                6.3               2.7                4.9               1.8
124                6.7               3.3                5.7               2.1
125                7.2               3.2                6.0               1.8
126                6.2               2.8                4.8               1.8
127                6.1               3.0                4.9               1.8
128                6.4               2.8                5.6               2.1
129                7.2               3.0                5.8               1.6
130                7.4               2.8                6.1               1.9
131                7.9               3.8                6.4               2.0
132                6.4               2.8                5.6               2.2
133                6.3               2.8                5.1               1.5
134                6.1               2.6                5.6               1.4
135                7.7               3.0                6.1               2.3
136                6.3               3.4                5.6               2.4
137                6.4               3.1                5.5               1.8
138                6.0               3.0                4.8               1.8
139                6.9               3.1                5.4               2.1
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [7]:
a = """
dafadfag
{arg}
fdasf
"""

a.format(arg="ssss")

'\ndafadfag\nssss\nfdasf\n'

In [46]:
a = range(10,21,5)

In [47]:
list(a)

[10, 15, 20]

In [62]:
params_dicts={"all_num":[8,12], "h_units": list(range(10,21,5)), "dropput":[0.2, 0.3]}

In [76]:
import itertools
keys = params_dicts.keys()
values_list = params_dicts.values()
for values in  itertools.product(*values_list):
    param_dict = {key : value for key, value in zip(keys, list(values))}
    print(param_dict)

{'all_num': 8, 'h_units': 10, 'dropput': 0.2}
{'all_num': 8, 'h_units': 10, 'dropput': 0.3}
{'all_num': 8, 'h_units': 15, 'dropput': 0.2}
{'all_num': 8, 'h_units': 15, 'dropput': 0.3}
{'all_num': 8, 'h_units': 20, 'dropput': 0.2}
{'all_num': 8, 'h_units': 20, 'dropput': 0.3}
{'all_num': 12, 'h_units': 10, 'dropput': 0.2}
{'all_num': 12, 'h_units': 10, 'dropput': 0.3}
{'all_num': 12, 'h_units': 15, 'dropput': 0.2}
{'all_num': 12, 'h_units': 15, 'dropput': 0.3}
{'all_num': 12, 'h_units': 20, 'dropput': 0.2}
{'all_num': 12, 'h_units': 20, 'dropput': 0.3}

In [55]:
def grid_serach(model)